body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(45deg, black, #2c4fa4);
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    height: auto;
    width: inherit;
    max-width: 414px;
    margin: auto;
    background: linear-gradient(45deg, black, #2c4fa4);
    color: #ffffff;
    align-items: start;
    justify-items: center;
}

/* Basic styling for the game */
.container {
    max-width: 100%;
    margin: -10px auto;
    padding: 9px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    margin-bottom: 5px;
    background: linear-gradient(0deg, #003c5e, #00c2ff);
    border-radius: 9px;
    font-size: 12px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    gap: 104px;
}


.upper-bet-section{
    background: linear-gradient(0deg, #01313b, #00c2ff);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    height: 427px;
    padding-top: 9px;
    width: 335px;
}

.wallet-balance{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.serial{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.game-area {
    height: 220px;
    background: radial-gradient(#48007a, black);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid;
    border-style: dotted;
    border-color: #e2ff00;
}

.bet-left{
    display: flex;
    flex-direction: column;
    width: 148px;
    border-radius: 12px;
    background: linear-gradient(0deg, #0a2441, #1f5350);
    padding: 10px;
    height: fit-content;
}


.bet-right{
    display: flex;
    flex-direction: column;
    width: 148px;
    border-radius: 12px;
    background: linear-gradient(0deg, #0a2441, #1f5350);
    padding: 10px;
    height: fit-content;
}


.multiplier-display {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.rocket {
    width: 50px; /* Adjust size as needed */
    position: absolute;
    bottom: 0px;
    left: -155px;
    transition: transform 0.1s linear;
    z-index: -1;
}


#rocket {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
}

#rocket-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure rocket stays within bounds */
}


.multiplier {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 105px;
    font-size: 70px;
    font-weight: bold;
}

.betting-section {
    margin-top: 9px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.betting-controls {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.bet, .cashout {
    display: flex;
    align-items: center;
}

.bet{
    display: flex;
    flex-direction: column;
    width: 71px;
    justify-content: space-between;
}

.bet input[type="number"], .cashout input[type="number"] {
    width: 58px;
    padding: 5px;
    font-size: 9px;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
}
.bet button{
    height: 53px;
    border-radius: 9px;
    border: none;
    background: #259809;
    color: white;
    width: 100%;
    font-weight: bold;
}

.auto-cash-section{
    width: 69px;
    display: flex;
    font-size: 9px;
    flex-direction: column;
    align-items: center;
}

.auto-cashout {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.preset-buttons {
    display: grid;
    justify-content: space-between;
    margin-top: 4px;
    grid-auto-columns: auto auto;
    grid-template-columns: auto auto;
    gap: 4px;
}
.preset-buttons button{
    width: 30px;
    font-size: 9px;
    text-align: center;
    padding: 5px;
    background: black;
    border: none;
    color: white;
    border-radius: 4px;
}

.navigation {
    display: flex;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
}

.navigation a {
    margin: 0 5px;
    text-decoration: none;
    color: #00ffee;
}

.history-section {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tabs button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.history-table {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.history-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.history-row:last-child {
    border-bottom: none;
}





.stripe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.stripe1 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite;
    rotate: 348deg;
}

.stripe2 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite;
    rotate: 337deg;
}

.stripe3 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 326deg;
}

.stripe4 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 315deg;
}


.stripe5 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 304deg;
}


.stripe6 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 293deg;
}

.stripe7 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 282deg;
}

.stripe8 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 271deg;
}

.stripe9 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 260deg;
}

.stripe10 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 249deg;
}

.stripe11 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 238deg;
}

.stripe12 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 227deg;
}

.stripe13 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 216deg;
}

.stripe14 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 205deg;
}


.stripe15 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 194deg;
}


.stripe16 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 183deg;
}

.stripe17 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 172deg;
}
.stripe18 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 161deg;
}
.stripe19 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 150deg;
}
.stripe20 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 139deg;
}
.stripe21 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 128deg;
}
.stripe22 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 117deg;
}
.stripe23 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 106deg;
}
.stripe24 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 95deg;
}
.stripe25 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 84deg;
}
.stripe26 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 73deg;
}
.stripe27 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 62deg;
}
.stripe28 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 51deg;
}
.stripe29 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 40deg;
}
.stripe30 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 29deg;
}
.stripe31 {
    position: absolute;
    bottom: 2px;
    left: -3px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 18deg;
}
.stripe32 {
    position: absolute;
    bottom: 1px;
    left: -4px;
    width: 116%;
    height: 20%;
    background: linear-gradient(173deg, transparent 50%, rgba(255, 255, 255, 9%) 50%);
    transform-origin: bottom left;
    animation: rotate 30s linear infinite; 
    rotate: 3deg;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.number {
    z-index: 1;
    position: relative;
}




/* Timer loading animation */
#timerLoading {
    display: none;
    width: 0;
    height: 5px;
    background-color: #ff0000;
    transition: width 1s linear;
    margin: 0 auto;
    position: relative;
    top: 144px;
    left: 0; /* Align to the left */
}

#timerDisplay {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/* Additional styles for the bet button */
#betButtonLeft, #betButtonRight {
    transition: background-color 0.3s, color 0.3s;
}

#betButtonLeft.active, #betButtonRight.active {
    background-color: yellow;
    color: black;
}


.crashed {
    color: red;
}





  /* Basic styling for the toggle */
  .toggle-container {
    position: relative;
    width: 50px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
  }

  .toggle-label {
    display: inline-block;
    margin-right: 10px;
  }

  .toggle {
    position: relative;
    top: 0;
    height: 14px;
    width: 62%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    margin: 2px 0 4px 0;
  }

  .toggle:before {
    content: '';
    position: absolute;
    top: 2px; /* Adjust vertical position */
    left: 2px; /* Adjust horizontal position */
    width: calc(50% - 4px); /* Adjust the handle size */
    height: calc(100% - 4px); /* Adjust the handle size */
    background-color: #fff;
    border-radius: 50px; /* Makes it round */
    transition: transform 0.3s;
  }

  input[type="checkbox"] {
    display: none; /* Hide the original checkbox */
  }

  input[type="checkbox"]:checked + .toggle {
    background-color: #5cb85c; /* Active color */
  }

  input[type="checkbox"]:checked + .toggle:before {
    transform: translateX(100%);
  }






/*below section oilo pura ta history section jeta satta html er duplicate uthaisi js ready korsi na properly pore kormu*/


.logo-container{
    width: 100%;
    top: 0px;
    position: relative;
    height: 47px;
    background: linear-gradient(45deg, #5749d0, #274792);
    z-index: 1;
}

.logo-container img{
    width: 27%;
    position: relative;
    top: -3px;
}




.data-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}


#below-section {
    display: grid;
    background: #ffffff0a;
    border-radius: 7px;
    width: 335px;;
    text-align: center;
    position: relative;
    margin-top: 5px;
    justify-content: center;
    padding: 12px;
}

.below-section-content {
    display: grid;
    justify-items: center;
    background: #ffffff0a;
    border-radius: 7px;
    width: 335px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    height: 65vh;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}

.tab-buttons button {
    flex: 1;
    padding: 7px 20px;
    cursor: pointer;
    background-color: #7727fd;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100px;
    height: 35px;
    font-size: 10px;
}

.tab-buttons button:hover {
    background-color: #0056b3;
}

.tab-buttons button.active {
    background-color: #ff6600; /* Active button color */
    color: #ffffff; /* Active button text color */
    transform: scale(1.05); /* Slightly enlarge the active button */
}

.tab-content {
    display: none;
}

#bellow-section {
    margin-top: 20px;
    text-align: left;
}

#public-bets-list, #game-history-list, #my-bets-list {
    list-style: none;
    padding: 0;
    width: 250px;
}

#public-bets-list li, #game-history-list li, #my-bets-list li {
    background: #0f327d;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}





table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0px 0;
}

th, td {
    padding: 10px;
    
}

th {
    background-color: #8e75f9;
    width: 200px; /* Adjust this value as needed */
    text-align: center;
    font-size: 12px;
}

td {
    text-align: center;
    font-size: 11px;
    background-color: #de0cff14;
}

#public-bets table, #game-history table, #my-bets table {
    width: 100%;
}

#public-bets th, #game-history th, #my-bets th {
    min-width: 10px; /* Minimum width for headers to ensure they are not too narrow */
}

#public-bets td, #game-history td, #my-bets td {
    text-align: center;
}

/* Additional styles for buttons and other elements */




.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Add this to your styles.css */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 1s linear;
}
