/* Full-Screen Layout */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    height: auto;
    min-height: 100vh;
    max-width: 414px;
    margin: auto;
    background: linear-gradient(45deg, black, #283b4d);
    background-repeat: no-repeat;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Learning Center Container */
.learning-center-container {
    width: 350px;
    max-width: 400px;
    padding: 15px;
    background-color: #1f2b38;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;

}

/* Header Styles */
.learning-center-container h2, .learning-center-container h3 {
    color: #00e9ff;
    margin-bottom: 10px;
    text-align: left;
}

/* Tutorial Content Section */
.tutorial-content {
    margin-bottom: 20px;
    padding:8px;
    background-color: #16222c;
    border-radius: 10px;
    text-align: left;
    width: 350px;
}

.tutorial-content h3 {
    color: #ffd700;
    margin-bottom: 10px;
}

.tutorial-content iframe {
    margin-bottom: 10px;
    border-radius: 5px;
}

.tutorial-content p {
    font-size: 12px;
}

/* Game List Section - 4 Column Grid */
.game-list {
    margin-bottom: 20px;
}

.game-list ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 10px; /* Spacing between buttons */
}

.game-button {
    padding: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 77px;
    height: 64px;
}

.game-button:hover {
    background-color: #ff7300;
}

/* FAQs Section */
.faqs {
    padding: 15px;
    background-color: #16222c;
    border-radius: 10px;
    text-align: left;
}

.faqs h3 {
    color: #ffd700;
}

.faqs ul {
    list-style-type: disc;
    padding-left: 20px;
}

.faqs li {
    font-size: 12px;
    margin-bottom: 10px;
}


li p{
    color: #26c2ba;
    font-weight: normal;
}

/* Styling for the Back Button */
.back-button {
    position: fixed; /* Keep it fixed on the screen */
    top: 15px; /* Distance from the top of the screen */
    right: 15px; /* Distance from the right edge */
    background-color: #0044ff74; /* Button color */
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it is on top of other elements */
    font-weight: bolder;
}

.back-button:hover {
    background-color: #ff6500; /* Hover color */
}
