body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, black, #28324d);
    color: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #395281;
    width: 366px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.balance-container button {
    width: 81px;
    height: 32px;
    border-radius: 7px;
    border: none;
    background: #ff5700;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: white;
}

#balance-amount {
    color: greenyellow;
}

#balance {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.refresh {
    width: 15px;
    filter: invert();
    margin-left: 5px;
}

.plinko-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #223546;
    border-radius: 0px 0px 10px 10px;
    width: 370px;
    max-width: 500px;
    overflow: hidden;
    height: 690px;
    gap: 16px;
    

}

.plinko-board {
    position: relative;
    width: 359px;
    height:350px;
    background-color: #0e1c28;
    border-radius: 10px;
    overflow: hidden; /* Ensure no elements go outside the plinko board */
    margin-top: -17px;
}

.pin-row {
    position: relative;
    height: 20px; /* Adjust height as needed */
}
.pin {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}


.pin::after {
    content: '';
    position: absolute;
    width: 10px; /* Initial size of the ripple */
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255); /* Ripple color */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.pin.ripple::after {
    animation: rippleAnimation 0.4s ease-out;
}

@keyframes rippleAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}



.result-slots {
    position: absolute;
    bottom: 0; /* Position the result slots at the bottom */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background: radial-gradient(#2100ff, #092d01);
    border-radius: 0 0 10px 10px;
    z-index: 999999; /* Ensure they are on top */
}

.slot {
    flex: 1;
    margin: 0 2px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s ease;
    font-size: 8px;
    background-color: red;
    height: 30px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;

}

.plinko-ball {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.bet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.betting-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
    background: linear-gradient(2deg, #1c324a, #184f7f);
    width: 330px;
    gap: 4px;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 1px 3px rgb(20, 35, 43));
}

.pre-amount-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 305px;
}

.pre-amount-buttons button {
    background-color: #5f70db;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    width: 36px;
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.amount-controls {
    display: flex;
    justify-content: space-around;
    width: 305px;
    margin-bottom: 3px;
    flex-direction: column;
    gap: 10px;
}

.amount-controls input {
    width: 227px;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    background: #1d2534;
    color: white;
    padding-left: 5px;
}

.amount-controls button {
    background-color: #627790;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 31px;
    height: 31px;
    font-size: 9px;
    font-weight: bold;
}

.action-button {
    background-color: #1fa400;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s;
    height: 100%;
    width: 305px;
}

.action-button:active {
    transform: scale(0.95); /* Makes the button slightly smaller to simulate a press */
    background-color: #158a00; /* Darker color when pressed */
}

.action-button:hover {
    background-color: #17a300;
}

.history-section {
    margin-top: 10px;
    text-align: center;
    width: 366px;
    height: 397px;
}

.history-section h2 {
    background: #394381;
    margin: 0;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 11px;
}

.history-section table {
    width: 100%;
    border-collapse: collapse;
}



#manual-section{
    margin-bottom: 5px;
}

.history-section th {
    background-color: #1d2534;
    color: #ffffff;
}

.history-section td {
    background-color: #1d2534;
    color: #ffffff;
    width: 50%;
}

#pagination {
    margin-top: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.history-section th, .history-section td {
    padding: 8px;
    text-align: center;
    width: 33%; /* Adjusted for three columns */
    font-size: 11px;
    background: #1d2534;
}

.results-sidebar {
    position: absolute;
    width: 308px;
    height: 19px;
    border-radius: 7px;
    overflow: hidden;
    font-size: 14px;
    flex-direction: row;
    display: flex;
    align-items: center;
    z-index: 999999;
    top: 97px;

}

.result-item {
    padding: 0px;
    margin-right: 0.8px;
    border-radius: 1px;
    text-align: center;
    font-size: 11px;
    background: linear-gradient(358deg, #ff7400, #ff9c00);
    height: 29px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}


/* Alert panel */
.alert-panel {
    margin: 8px;
    margin-top: 5px;
    background-color: #ffffff69;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 15px;
    z-index: 9999;
    position: relative;
    width: 350px;
}



@keyframes slotHighlight {
    0% {
        transform: scale(1);
        box-shadow: 0 0 3px #fff, 0 0 10px #fff;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 10px #ff0, 0 0 30px #ff0;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 3px #fff, 0 0 10px #fff;
    }
}

.slot.highlight {
    animation: slotHighlight 0.5s ease-out;
}



.slot-5x {
    background-color: #FF1C1C; /* Bright Red */
}

.slot-3x {
    background-color: #FF5733; /* Darker Red */
}

.slot-2x {
    background-color: #FF7F50; /* Coral */
}

.slot-1_5x {
    background-color: #FFA500; /* Orange */
}

.slot-1_2x {
    background-color: #ffa200; /* Gold */
}

.slot-0_5x {
    background-color: #ffb32f; /* Yellow Green */
}

.slot-0_2x {
    background-color: #fcc100; /* Lawn Green */
}



.pin-effect {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    animation: ripple 0.4s ease-out;
    pointer-events: none; /* So the effect doesn't interfere with ball interaction */
    z-index: 1000; /* Ensure the effect is on top */
}


.row-selection{
    display: flex;
    flex-direction: column;
    width: 303px;
    gap: 3px;
}
.row-selection label{
    font-size: 10px;
    margin-left: 5px;
}

.row-selection select{
    height: 32px;
    background-color:#1d2534;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 3px;
    width: 304px;
}

.switches{
    background: rgb(25, 40, 52);
    width: 305px;
    border-radius: 25px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.bet-switch.active {
    background-color: #2d7794; /* Green background for active switch */
    color: white; /* Ensure the text color contrasts well */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bet-switch {
    border-radius: 25px;
    width: 50%;
    text-align: center;
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#auto-rounds{
    width: 298px;
}
.amount-inserts{
    display: flex;
    align-items: center;
    gap: 3px;
}

.action-button.running {
    background-color: orange; /* Orange color when auto bet is running */
}

#remaining-rounds {
    background-color: #1d2534;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    width: 100px;
    margin-top: 5px;
}
