body {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    height: auto;
    min-height: 100vh;
    max-width: 414px;
    margin: auto;
    background: linear-gradient(45deg, black, #28324d);
    background-repeat: no-repeat;
}

/* Fixed header */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 414px;
    background: linear-gradient(45deg, #4d70aa, transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-container img {
   width: 100px;
}

/* Alert panel */
.alert-panel {
    margin: 8px;
    margin-top: 57px;
    background-color: #ffffff69;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 15px;
    z-index: 9999;
    position: relative;
}

/* Removed balance-container and balance-section */

.balance-container {
    display: none; /* Hide the balance section */
}


.guide-game{
    font-size: 10px;
    color: #eeff00;
}




.games-container {
    position: relative;
    width: 100%;
    max-width: 414px;
    overflow-x: auto; /* Enable horizontal scrolling */
    background: #314d67;
    padding: 10px 0; /* Top and bottom padding */
    border-radius: 8px;
    margin: 0 auto;
    margin-top: -14px;
    display: flex;
    scroll-snap-type: x mandatory; /* Enable snapping */
    scroll-padding: 16px; /* Padding for snapping */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}
.games-section {
    display: flex;
    transition: transform 0.3s ease;
}

.games-wrapper {
    display: flex;
    gap: 8px;
    padding-left: 7px;
    padding-right: 7px;
    width: max-content;

}
.games-section .game {
    flex: 0 0 auto;
    width: 120px;
    scroll-snap-align: start; /* Ensure each icon snaps to start */
}
.games-section .game img {
    width: 120px;
    height: 150px;
    filter: drop-shadow(0.9px 5px 5px rgb(15, 37, 63));
    display: block;
    cursor: pointer;
}

.scroll-button {
    background-color: rgb(56 95 135 / 50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-button.left {
    width: 65px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 238px;

}

.scroll-button.right {
    right: 10px;
    top: 263px;
    width: 65px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Hide scrollbars for a cleaner look */
.games-container::-webkit-scrollbar {
    display: none;
}





/* Banners section */
.banner-slider {
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    margin: 9px;
}

.slider-wrapper {
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    height: 150px;
}

.banner-image {
    width: 100%;
    height: 175pxpx;
    display: block;
    border-radius: 10px;
    transition: transform 5s ease-in-out;
}

/* Winner's record */
.winners-record {
    padding: 4px;
    background: rgb(12 42 51 / 94%);
    border-radius: 4px;
    height: 255px;
    margin: 15px 9px;
    font-size: 12px;
    overflow: hidden;
    position: relative;

}

.marquee {
    display: flex;
    flex-direction: column;
    animation: marquee 20s linear infinite;
    height: 100%;
}

.winner {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 2px;
    background: #385478;
    border-radius: 5px;
}

@keyframes marquee {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% - 4px * 210));
    }
}

/* Navigation menu */
.navigation-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 414px;
    background-color: #122b40;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.navigation-menu .nav-item.active img {
    filter: drop-shadow(1px 1px 10px #00d0ff);
    border: none;
}

.navigation-menu .nav-item img {
    height: 25px;
    filter: invert();
    width: 25px;
}

.navigation-menu .nav-item p {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

/* Monthly winner container */
.monthly-winner-container {
    background: rgb(30 193 255 / 8%);
    border-radius: 12px;
    height: 270px;
    display: flex;
    justify-content: center;
    margin: 9px;
    margin-top: 10px;
}

.winner-month-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
}

.board1 {
    width: 300px;
}

.board2 {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-top: -56px;
}

.board3 {
    display: flex;
    justify-content: center;
}

.middle2 {
    border: 5px solid;
    border-bottom: none;
    width: 79px;
    height: 31px;
    margin-top: 60px;
}

.left3 {
    border: 5px solid white;
    height: 60px;
    width: 106px;
    border-right: none;
}

.middle3 {
    width: 79px;
    border-bottom: 5px solid white;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9.3px;
    padding-bottom: 9px;
}

.right3 {
    height: 60px;
    width: 106px;
    border: 5px solid white;
    border-left: none;
}

.no1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    gap: 5px;
    color: yellow;
}

.section-label1 {
    text-align: left;
    margin: 0px;
    margin-bottom: -24px;
    font-size: 13px;
    margin-left: 10px;
}

.bottom-section {
    display: flex;
}

.bottom-para p{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    width: 80%;
    color: #ffffff;
}

.payment-partners h2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    padding-top: 8px;
    color:#a8a8a8;
}

.payment-partner-container{
    background: linear-gradient(45deg, #1f355075, #1f355075);
    border-radius: 14px;
    margin: 9px;
}

.winner-month-section h3{
    text-align: left;
    margin: 0px;
    font-size: 14px;
    color: #a8a8a8;
    margin-bottom: 15px;
    margin-top: -27px;
    margin-left: -115px;
}
.bottom-para{
    display: flex;
    justify-content: center;
}

.connect-container{
    margin:9px;
    border-bottom: 2px solid #0d2a33;
    padding-bottom: 14px;
}

.connect-with-us{
    display: grid;
    text-align: left;
    gap: 6px;
    grid-template-columns: auto auto;
}

.connect-with-us a{
    display: flex;
    text-decoration: none;
    gap: 10px;
    color: skyblue;
    font-size: 13px;
    align-items: center;
    margin-left: 35px;
}

.connect-container h4{
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #0d2a33;
    padding-bottom: 10px;
}

.footer{
    margin: 9px;
    margin-bottom: 85px;
}

.footer p{
    font-size: 11px;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: 35px;
    color: #aaaaaa;
}
